{{ partial "header" . }}
<body>
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <h2 class="subtitle is-5">{{ if (ne ($.Param "displayauthor") false) }}{{ .Params.author | default .Site.Params.author }} pada{{ end }} {{ .Date.Local | time.Format ":date_long" }}</h2>
    {{ if .Params.tags }}
      {{ partial "tags" . }}
    {{ end }}
    <div class="content">
      {{ .Content }}
    </div>
    {{ if (ne ($.Param "sharingicons") false) }}
    {{ partial "sharing.html" . }}
    {{ end }}
  </div>
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
</body>
